#lipage {
	background: #F9F9F9;
	border-radius: 20px;
}
#uploadS{
	margin:2px;
}
#lilipage {
	width: 100px;
}

.widget-title {
	cursor: pointer;
}

#spanpx {
	color: #D31228;
    font-size: 11px;
}

.help-inline {
	color: #D31228;
}

.uploadfilediv {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 250px;
	text-align: center;
	padding: 10px 10px;
}

.cropAreasmall {
	background: #E4E4E4;
	margin: auto;
	overflow: hidden;
	width: 280px;
	height: 200px;
	margin-top: 20px;
    margin-left: 30px;
}
.cropArea {
    background: #E4E4E4;
	margin: auto;
	overflow: hidden;
	width: 280px;
	height: 200px;
	margin-top: 20px;
    margin-left: 30px;
}
.ulsideBar li a{
	cursor: pointer;
}
#tabContact{
	margin: 5px;
}
.unstyled li input[type="text"]{
	height: 35px;
	
}